.email-form {
  padding-top: 100px;
  padding-bottom: 100px;
  &__wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  p {
    margin: 15px 0 35px;
    @extend %SecondText;
  }
}

form {
  background: $bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 40px 60px;
  > input {
    @include size(350px, 45px);
    padding: 15px;
    border: 1px solid $disabled;
    border-radius: 3px;
    @extend %Roboto;
    @include text(1rem, 1.1875rem);
    color: $main;
    outline: none;
    &:focus {
      border: 2px solid $main;
    }
    &::placeholder {
      @extend %Roboto;
      @include text(1rem, 1.1875rem);
      color: $disabled;
    }
  }
  label.MuiFormControlLabel-root {
    span.MuiTypography-root {
      margin-left: 5px;
      font-size: 12px;
      color: $disabled;
      text-align: left;
    }
  }
  .MuiFormGroup-root {
    width: 350px;
    padding-left: 5px;
    a,
    button {
      margin: 25px auto 0;
      width: 50%;
      padding: 12px 36px;
    }
  }
}

// Niche Finder
.search-input {
  position: relative;
  width: 700px;
  padding-top: 15px;
  z-index: 1;
  input {
    width: 100%;
    height: 48px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding-left: 20px;
    @include text(15px, 20px);
    @extend %Roboto;
    letter-spacing: 0.25px;
    outline: none;
    color: $table;
    &:placeholder {
      color: $disabled;
    }
  }

  button {
    position: absolute;
    right: 0;
    width: 88px;
    height: 48px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: none;
    border: 1px solid #e0e0e0;
    background: rgba(73, 69, 79, 0.04);
    cursor: pointer;
    svg {
      color: $secondary;
      font-size: 27px;
    }
  }
}


//--------------------------------------//

@media screen and (max-width: 769px) {
  .email-form {
    &__wrapper {
      width: 90%;
    }
    form {
      width: 100%;
      padding: 40px 20px;
      > input {
        text-align: left;
        width: 100%;
      }
    }
    .MuiFormGroup-root {
      width: 100%;
      a.MuiButton-root {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .email-form {
    padding: 50px 0;
  }
}
