.header {
  @include size(100%, 64px);
  background: white;
  box-shadow: 0px 2px 8px 0px #0000001a;
  padding: 0 25px;
  position: fixed;
  z-index: 2;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 100px);
    max-width: 1420px;
    margin: 0 auto;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 66px;
  }
  &__btns {
    display: flex;
    button {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 1025px) {
  .header button.MuiButton-contained {
    width: 70px;
    margin-left: -10px;
  }
}
@media screen and (max-width: 370px) {
  .header button.MuiButton-contained {
    width: 50px;
    margin-left: -5px;
  }
}
