.see-down {
  margin: 100px 0 80px 0;
  span {
    @extend %ProductSans;
    @include text(1rem, 1.3rem);
  }
  h4 {
    @include text(1.3rem, 1.7rem);
    color: $main;
    margin-bottom: 15px;
  }
}
.line {
  width: 100%;
  border-top: 1px solid $corners;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

@media screen and (max-width: 768px) {
  .see-down {
    margin-top: 120px;
  }
}

@media screen and (max-width: 425px) {
  .see-down {
    margin: 60px 0 50px;
  }
}
