.card-info {
  margin-bottom: 100px;
  &__card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: fit-content;
    position: relative;
    @extend %ProductSans;
    @include text(0.875rem, 1.0625rem);
    color: $table;
  }
  &__caption-position-left {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    position: relative;
    min-width: 190px;
    p:after {
      content: '..........';
      margin-right: -5px;
      position: relative;
      top: -4px;
      left: 3px;
      width: 40px;
      height: 1px;
      color: #878787;
    }
    p {
      text-align: right;
      min-width: 230px;
      right: 0;
      position: absolute;
    }
    p:nth-of-type(1) {
      bottom: 165px;
    }
    p:nth-of-type(2) {
      bottom: 115px;
    }
    p:nth-of-type(3) {
      bottom: 60px;
    }
  }
  &__caption-position-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    p:before {
      content: '..........';
      margin-right: -5px;
      position: relative;
      top: -4px;
      left: -10px;
      width: 40px;
      height: 1px;
      color: #878787;
    }
  }
  &__caption-text {
    position: relative;
    min-width: 240px;
    p {
      left: 0;
      position: absolute;
    }
    p:nth-of-type(1) {
      bottom: 193px;
    }
    p:nth-of-type(2) {
      bottom: 137px;
    }
    p:nth-of-type(3) {
      bottom: 95px;
    }
    p:nth-of-type(4) {
      bottom: 27px;
    }
  }
  &__age-bg {
    margin-top: 90px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    span {
      margin-bottom: 5px;
    }
    p {
      position: relative;
      margin-left: 15px;
    }
    p:before {
      content: '';
      display: inline-block;
      margin-right: 7px;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 3px;
      left: -15px;
    }
    p:nth-of-type(1):before {
      background: rgb(158, 250, 158);
    }
    p:nth-of-type(2):before {
      background: rgb(236, 236, 109);
    }
    p:nth-of-type(3):before {
      background: rgb(255, 164, 164);
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    max-width: 37%;
    p {
      padding-top: 20px;
      @include text(1.125rem, 1.6875rem);
      color: $secondary;
    }
  }
}

//-----------------------------//

.text-img--preview .text-img__before {
  width: 150px;
  left: -145px;
  top: 0;
}

.text-img--collections {
  picture img {
    padding-left: 100px;
  }
  .text-img__before {
    max-width: 345px;
    left: 0;
    top: 90px;
  }
}

//-----------------------------//

.plans {
  padding-top: 100px;
  &__title {
    text-align: center;

    p {
      @include text(16.5px, 1.6875rem);
      margin: 20px 0 50px 0;
    }
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    img {
      @include size(181px, 358px);
    }
  }
  &__card {
    padding: 10px 20px;
    display: flex;
    width: 45%;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 20%);
    &--premium {
      background-color: #e3f2fd;
    }
  }
  &__text {
    @extend %ProductSans;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: start;
    padding: 10px 15px;
    @include text(0.875rem, 1.5rem);
    button {
      font-weight: normal;
      padding: 8px 25px;
      margin: 15px 0;
    }
    a {
      display: inline-block;
      margin-top: 20px;
      color: $blue;
      transition: all 0.3s;
      &:hover {
        color: #1b75be;
      }
    }
    h3 {
      @include text(1.375rem, 1.6875rem);
      font-weight: normal;
      &.plans__text--premium {
        color: #1976d2;
      }
    }
    .card-info__age-bg {
      margin-top: 0px;
      padding-left: 0px;
     
      p:before {
        top: 6px;
        left: -20px;
      }
      p {
        margin-left: 22px;
      }
    }
    li {
      position: relative;
      margin: 3px 0px 3px 25px;
    }
    li::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 12px;
      left: -22px;
      width: 10px;
      height: 7px;
      border-right: 2px solid #616161;
      border-top: 2px solid #616161;
      transform: rotate(135deg);
    }
  }
}


// -------------------------------------------------- //



@media screen and (max-width: 1280px) {
  .card-info__card {
    margin-left: -30px;
  }
  .plans {
    .card-info__age-bg {
      p:before {
        left: -16px;
      }
      p {
        margin-left: 10px;
      }
    }
    &__cards {
      justify-content: center;
    }
    &__card--premium {
      margin-left: 20px;
    }
    &__card {
      padding: 0;
    }
    &__text {
      padding: 10px 5px;
      li {
        margin-left: 10px;
        &:before {
          left: -15px;
        }
      }
    }
  }
  .text-img--collections .text-img__title,
  .text-img--preview .text-img__title {
    max-width: 34%;
  }
  .text-img--preview .text-img__before {
    width: 130px;
    left: -125px;
  }
}

@media screen and (max-width: 1023px) {
  .card-info {
    &__wrapper {
      flex-direction: column-reverse;
    }
    &__title {
      margin-bottom: 50px;
      max-width: 60%;
    }
  }
  .text-img--collections .text-img {
    &__image {
      margin-left: -25px;
    }
  }
  .text-img--preview .text-img {
    &__image {
      margin-left: 85px;
    }
  }
  .text-img--collections .text-img__title,
  .text-img--preview .text-img__title {
    max-width: 60%;
  }
  .plans {
    &__card {
      width: 65%;
      max-width: 450px;
      padding: 5px 0;
    }
    &__cards {
      flex-direction: column;
      align-items: center;
    }
    &__card--premium {
      margin-left: 0px;
      margin-top: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .plans {
    &__card {
      width: 100%;
    }
    &__title {
      max-width: 90%;
      margin: 0 auto;
    }
    &__text {
      padding: 10px;
      h3 {
        font-size: 18px;
      }
      li,
      p,
      span {
        font-size: 12.5px;
        text-align: left;
      }
    }
  }
  .text-img--preview .text-img__before {
    left: -85px;
    width: 130px;
    top: 70px;
  }
  .text-img--collections .text-img__title,
  .text-img--preview .text-img__title {
    max-width: 90%;
  }
  .card-info {
    &__card {
      font-size: 13px;
      margin: 15px 0;
    }
    &__matches {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__caption-position-right {
      min-width: 120px;
      p:before {
        left: -6px;
      }
    }
    &__caption-position-left {
      min-width: 180px;
      p:nth-of-type(1) {
        bottom: 132px;
      }
      p:nth-of-type(2) {
        bottom: 92px;
      }
      p:nth-of-type(3) {
        bottom: 47px;
      }
    }
    &__card--left {
      margin-left: 0;
    }
    img {
      width: 180px;
    }
    &__title {
      max-width: 90%;
    }
    &__age-bg {
      margin-top: 50px;
      padding-left: 20px;
      p:before {
        top: 1px;
        left: -15px;
      }
    }
    &__caption-text {
      min-width: 210px;
      p:nth-of-type(1) {
        bottom: 155px;
      }
      p:nth-of-type(2) {
        bottom: 110px;
      }
      p:nth-of-type(3) {
        bottom: 75px;
      }
      p:nth-of-type(4) {
        bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  * {
    text-align: center;
  }
  .plans {
    padding-top: 50px;
    &__title {
      max-width: 90%;
      margin: 0 auto;
    }
    .card-info__age-bg {
      margin-left: 0px;
      p:before {
        top: 5px;
      }
    }
    &__text {
      padding-left: 3px;
      button {
        width: 100%;
      }
      ul li {
        text-align: left;
        &::before {
          bottom: 12px;
        }
      }
      li,
      p,
      span {
        font-size: 11px;
        text-align: left;
      }
    }
    li:before {
      bottom: 9px;
    }
    &__card {
      margin-bottom: 20px;
      &__text {
        padding-left: 3px;
      }
    }
  }

  .card-info {
    margin-bottom: 50px;
    img {
      width: 135px;
    }
    .card-info__caption-text p:before,
    .card-info__caption-position-left p::after {
      content: '....';
    }
    .card-info__caption-position-left {
      p:nth-of-type(1) {
        bottom: 96px;
        right: 2px;
      }
      p:nth-of-type(2) {
        bottom: 67px;
        right: 2px;
      }
      p:nth-of-type(3) {
        bottom: 33px;
        right: 2px;
      }
    }
    &__caption-text {
      min-width: 180px;

      p:nth-of-type(1) {
        bottom: 114px;
      }
      p:nth-of-type(2) {
        bottom: 79px;
      }
      p:nth-of-type(3) {
        bottom: 38px;
        left: -8px;
        margin-right: 39px;
      }
      p:nth-of-type(4) {
        bottom: -2px;
        left: -10px;
      }
    }
    &__age-bg {
      margin-top: 20px;
      padding-left: 10px;
      p {
        text-align: left;
        &:before {
          top: -1px;
        }
      }
    }
  }

  .text-img--collections .text-img__image {
    margin-left: 0px;
  }
  .text-img--collections {
    picture img {
      padding-left: 50px;
    }
  }
  .text-img--collections .text-img__image,
  .text-img--preview .text-img__image picture img {
    min-width: 200px;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .text-img--collections .text-img__before {
    max-width: 290px;
    left: 0;
    top: 90px;
  }
  .plans {
    &__card {
      align-items: center;
      img {
        @include size(40%, 40%);
      }
    }
    &__text {
      padding: 5px;
      li {
        margin-bottom: 0px;
        margin-top: 0;
        line-height: 20px;
      }
      h3 {
        margin-bottom: -10px;
      }
      button {
        margin-bottom: 5px;
      }
      a {
        margin-top: 5px;
      }
    }
    .card-info__age-bg {
      margin-top: 3px;
      margin-bottom: 8px;
      margin-left: -4px;
      p {
        margin: -3px 15px;
      }
    }
  }
}

@media screen and (max-width: 332px) {
  .plans {
    &__card {
      a {
        margin-bottom: 3px;
      }
      span {
        line-height: 16px;
      }
      button {
        height: 30px;
      }
      img {
        @include size(37%, 37%);
      }
    }
  }
}
