// Кнопки
button.MuiButton-root,
a.MuiButton-root {
  @extend %Roboto;
  @include text(1.005rem, 1.5rem);
  text-transform: inherit;
  color: white;
  padding: 8px 32px;
  font-weight: 500;
  white-space: nowrap;
  &.MuiButton-outlined {
    color: $blue;
    border: 1px solid #e0e0e0;
    &:hover {
      background: rgba(218, 218, 218, 0.186);
    }
  }
  &.MuiButton-contained {
    color: white;
    &:hover {
      color: white;
    }
  }
}

// Списки
ul.MuiList-root {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  span {
    font-size: 25px;
    @extend %ProductSans;
    a {
      color: $main;
    }
  }
  div.MuiListItemButton-root {
    width: 100%;
  }
}

// Switch
.pricing {
  &__tumbler {
    .MuiSwitch-root {
      padding: 4.5px;
      border-radius: 20px;
    }
    .MuiSwitch-track {
      border-radius: 15px;
    }
    .MuiSwitch-switchBase.Mui-checked {
      color: #fff;
    }
    .MuiButtonBase-root.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
      opacity: 0.9;
    }
    .MuiSwitch-thumb {
      width: 25px;
      height: 25px;
    }
    .MuiButtonBase-root.MuiSwitch-switchBase {
      top: -2.5px;
      left: -2.5px;
    }
  }
}

// Хедер
.header {
  svg.MuiSvgIcon-root {
    @include size(40px, 40px);
  }
  button.MuiButton-root,
  a.MuiButton-root {
    &.MuiButton-outlined {
      margin-right: 10px;
    }
  }
  .MuiTabs {
    &-flexContainer {
      height: 64px;
      gap: 25px;
      button {
        padding: 0;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 68px;
        width: 100%;
      }
    }
    &-indicator {
      height: 4px;
    }
    &-root {
      min-height: 64px;
      display: flex;
      align-items: center;
      button {
        @extend %ProductSans;
        @include text(1rem, 1.1875rem);
        text-transform: capitalize;
        min-width: 90px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .MuiToolbar-root {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
// Рамка модалки
.MuiBox-root {
  outline: none;
}

// Тултип
span.MuiTooltip-arrow::before {
  background-color: #f5f5f9;
  border: 1px solid #dadde9;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 2%);
}
div.MuiTooltip-popper[data-popper-placement='top'] .MuiTooltip-tooltip {
  margin-bottom: 16px;
}

@media screen and (max-width: 425px) {
  button.w100-btn,
  .title__text a {
    width: 100%;
    padding: 12px 36px;
  }
}
